{% extends "layout.html.twig" %}

{% block page_title %}
    mention légale
{% endblock page_title %}





{% block content %}
    <h1>Mentions Légales content</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda cum explicabo fugit illo ipsa laboriosam obcaecati odit rem reprehenderit. Assumenda doloribus ex exercitationem id, minima perferendis reiciendis. Enim, fuga?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nisi, quae. Amet cupiditate dolor id illum inventore, ipsum minus pariatur quisquam voluptatem! Aperiam hic nisi odio perspiciatis similique veritatis voluptatem.
{% endblock content %}


{#
{% block blabla %}
    <h2>Mentions Légales blabla</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda cum explicabo fugit illo ipsa laboriosam obcaecati odit rem reprehenderit. Assumenda doloribus ex exercitationem id, minima perferendis reiciendis. Enim, fuga?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nisi, quae. Amet cupiditate dolor id illum inventore, ipsum minus pariatur quisquam voluptatem! Aperiam hic nisi odio perspiciatis similique veritatis voluptatem.
{% endblock blabla %}#}
