
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/

/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/public/images/
/.idea/

/public/css/
/public/fonts/
/public/js/

/config/packages/test/
/config/packages/prod/
/config/packages/dev/

